body{
    font-family: sans-serif;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator{
    background: linear-gradient(120deg,#f56456,#f5576c);
    border: 1px solid #ddd;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 20px;
    width: 520px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
    -webkit-animation: fadeIn 1s ease-in-out;
}

.calculator::before{
    content: "";
    position: absolute;
    top: -50%;
    left:-50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg , #f093fb,#f56456);
    z-index: -1;
    animation: rotate 10s linear infinite;
    -webkit-animation: rotate 10s linear infinite;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to {opacity: 1;}
}

@keyframes rotate{
    from{ transform:rotate(0deg) ; -webkit-transform:rotate(0deg) ; -moz-transform:rotate(0deg) ; -ms-transform:rotate(0deg) ; -o-transform:rotate(0deg) ; }
    to{ transform:rotate(360deg) ; -webkit-transform:rotate(360deg) ; -moz-transform:rotate(360deg) ; -ms-transform:rotate(360deg) ; -o-transform:rotate(360deg) ; }
}

.calculator h1{
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.input-section{
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
}

.input-section label{
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 24px;
}

.input-section input[type="range"]{
    width: 100%;
    cursor: pointer;
}

.input-section span{
    display: block;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
}

button:hover{
    background-color: #218838;
}

.output-section{
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.output-section p{
    margin: 5px 0;
    font-size: 18px;
    color: white;
}

.output-section span{
    font-weight: bold;
}

input[type="range"]{
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

input[type="range"]:hover{
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #28a745;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}